.services-list {
  display: flex;
  gap: 2rem;
  flex-grow: 1;
  flex-direction: column;
}

@media (min-width: 768px) {
  .services-list {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 2rem;

    & > .services-item:nth-child(1),
    & > .services-item:nth-child(2) {
      grid-column: span 3;
    }

    & > .services-item:nth-child(3),
    & > .services-item:nth-child(4),
    & > .services-item:nth-child(5) {
      grid-column: span 2;
    }
  }
}
