@media all and (min-width: 1025px) {
  .c-language {
    @apply bg-jade-light cursor-pointer border-r-2 rtl:border-r-0 rtl:border-l-2;

    &__content {
      @apply bg-jade-light h-full relative cursor-pointer;
      outline: unset;
      -webkit-appearance: none;
      -moz-appearance: none;

      &--select {
        @apply bg-background cursor-pointer h-full appearance-none px-[0.75rem] rounded-none;
        outline: unset;
        & option {
          @apply bg-background rounded-none;
        }

        &--show,
        &:hover {
          @apply bg-background;
          box-shadow: 0 4px 8px 0 #3c3c3b29;
          transition: 0.3s cubic-bezier(0.25, 0.8, 0.5, 1);
        }
      }
    }
  }
}

@media all and (max-width: 1024px) {
  .c-language {
    @apply px-[1rem] border-t-2 border-muted-variant lg:hidden;

    &__options {
      @apply flex gap-[1rem] justify-start w-full items-center flex-col;
    }

    &__button {
      @apply w-full text-start p-[1rem] border-b-2 border-muted-variant;
    }

    &__content {
      outline: unset;
      -webkit-appearance: none;
      -moz-appearance: none;
      box-shadow: 0 2px 4px 0 #3c3c3b0f;
      @apply p-[1rem] w-full bg-background h-dvh;

      &--select {
        @apply h-full appearance-none px-[0.75rem];
        outline: unset;
      }
    }

    &__drawer {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100vh;
      transition: transform 0.1s ease-in-out;
      z-index: 100;
      transform: translateX(100%);
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      background: var(--jade-background);

      &--open {
        transform: translateX(0);
      }

      &--close {
        transform: translateX(100%);
      }

      &-header {
        @apply relative p-[1rem] border-b-2 border-muted-variant w-full flex justify-between items-center bg-background;
      }
    }

    &__drawer-header {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 1rem;
      border-bottom: 2px solid var(--muted-variant);
    }

    &__close-btn {
      background: none;
      border: none;
      cursor: pointer;
    }
  }
}
