.c-weather__content {
  z-index: 10000 !important;
}
@media all and (min-width: 1025px) {
  .c-weather {
    @apply text-primary-dark-green-variant font-frutiger text-center flex px-3 border-r-2 relative bg-jade-light cursor-pointer rtl:border-r-0 rtl:border-l-2;
    &--show,
    &:hover {
      @apply bg-background;
      box-shadow: 0 4px 8px 0 #3c3c3b29;
      transition: 0.3s cubic-bezier(0.25, 0.8, 0.5, 1);
    }
    &__content {
      z-index: 100000;
      @apply w-[544px] h-[260px] pl-5 gap-6 flex flex-col absolute right-0 top-8 p-5 items-start shadow-md bg-white z-10 rtl:left-0;
    }
  }
}

@media all and (max-width: 1024px) {
  .c-weather {
    @apply flex p-[1rem] border-b-2 border-muted-variant relative lg:hidden;
    transition: transform 0.3s ease-in-out;
    transform: translateX(0);

    &--show {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100vh;
      background-color: var(--background);
      transition: transform 0.3s ease-in-out;
      z-index: 99;
      padding: unset;
    }
    div {
      @apply w-full;
      p {
        @apply text-[1rem] text-muted-darkest;
      }
    }
    &__content {
      z-index: 100000;
      @apply w-[544px] h-[260px] pl-5 gap-6 flex flex-col absolute right-0 top-8 p-5 items-start shadow-md bg-white z-10;
    }
  }
  .c-weather__menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: var(--jade-light);
    transform: translateX(100%);
    transition: transform 0.1s ease-in-out;
    z-index: 100;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    &--open {
      transform: translateX(0);
    }

    &--close {
      transform: translateX(100%);
    }
  }
}
