.c-card {
  @apply w-full flex items-center justify-between p-[1.5rem] border border-muted-primary;
  transition: 0.1s cubic-bezier(0.25, 0.8, 0.5, 1);

  &:hover {
    @apply bg-jade-light scale-105 max-lg:scale-100 max-lg:bg-background;
    transition: 0.1s cubic-bezier(0.25, 0.8, 0.5, 1);
  }

  &__text {
    @apply flex flex-col gap-[0.5rem];

    &--title {
      @apply text-[1.25rem] font-bold text-muted-darkest;
    }
    &--description {
      @apply text-muted-dark;
    }
  }

  &__img {
    &--icon {
      @apply mr-[1.5rem];
      max-width: 48px;
      max-height: 48px;
      border-radius: 100%;
    }
    &--arrow {
      width: 24px;
      height: 24px;
    }
  }
}
