.c-global-header {
  z-index: 9999;
  @apply flex flex-row w-full justify-between items-center max-lg:py-[0.5rem] max-lg:fixed max-lg:top-0 max-lg:left-0 max-lg:bg-background max-lg:pl-4 rtl:max-lg:pl-0 rtl:max-lg:pr-4 rtl:flex-row-reverse;

  &__main-navigation {
    @apply flex flex-row gap-[2rem] max-lg:gap-[0] max-lg:px-[1rem] rtl:flex-row-reverse;

    div {
      .c-nav__btn {
        @apply max-lg:border-b-2 max-lg:border-muted-variant;
      }
      .c-nav__btn:last-of-type {
        @apply max-lg:border-none;
      }
    }
  }
  &__mobile-button {
    @apply lg:hidden;
  }
  &__mobile {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: var(--background);
    z-index: 1000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    transform: translateX(100%);
    transition: transform 0.1s ease-in-out;

    @apply lg:hidden;

    &--open {
      transform: translateX(0);
    }

    &--close {
      transform: translateX(100%);
    }

    &--header {
      @apply relative p-[1.25rem] border-b-2 border-muted-variant w-full bg-background;
      h1 {
        @apply font-bold text-center;
      }
      button {
        @apply absolute right-[1rem] top-[1rem];
      }
    }
  }
  &__mobile--open {
    display: flex;
    z-index: 1000000001;
  }
}

.c-nav-mobile {
  &__header {
    @apply flex justify-between items-center px-4 py-3 cursor-pointer;
    border-bottom: 1px solid #e2e2e2;
  }

  &__title {
    @apply text-lg font-medium;
  }

  &__links {
    @apply px-4 py-2;
  }
}

@media all and (max-width: 1024px) {
  .c-global-header {
    z-index: 9999;
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
    transition: opacity 0.3s ease, transform 0.3s ease;
  }

  .c-global-header.hidden {
    opacity: 0;
    transform: translateY(-100%);
    transition: opacity 0.3s ease, transform 0.3s ease;
  }
}
