.transport-search-and-filter {
  &__dropdown-menu {
    position: relative;

    h3 {
      cursor: pointer;
    }

    &--list {
      display: none;
      position: absolute;
      width: 100%;
      background-color: var(--background-dark);
    }

    &.open &--list {
      display: block;
    }

    .chevron-down {
      display: block;
    }

    .chevron-up {
      display: none;
    }

    &.open {
      .chevron-down {
        display: none;
      }

      .chevron-up {
        display: block;
      }
    }
  }
}
