.c-column-slider {
  margin-left: max(0px, (90% - 1320px) / 2);
  @apply pl-[6rem] py-[3.5rem] overflow-hidden max-xl:p-[1rem] rtl:ml-0 rtl:mr-[max(0px,(90%-1320px)/2)];

  &__tabs {
    @apply flex w-fit border-2 border-jade-dark mt-[3.5rem] mb-[2rem] max-xl:mb-[1rem] max-xl:w-full;

    &--btn {
      @apply cursor-pointer px-[1.5rem] py-[1rem] text-muted-dark max-xl:w-full;
      transition: 0.3s cubic-bezier(0.25, 0.8, 0.5, 1);

      &:hover {
        @apply bg-jade-light text-primary-dark-green-variant font-bold;
        transition: 0.3s cubic-bezier(0.25, 0.8, 0.5, 1);
      }
      &.active {
        @apply bg-jade-light text-primary-dark-green-variant font-bold;
      }
    }
  }
}

.c-column-slider-tab__pagination {
  position: absolute;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 0.75rem;
  z-index: 99;
}

.c-column-slider-tab__pagination--dot {
  width: 6px;
  height: 6px;
  background: var(--muted-variant);
  border-radius: 50%;
  cursor: pointer;
  opacity: 0.7;
  border: 2px solid transparent;
  transition: 0.3s cubic-bezier(0.25, 0.8, 0.5, 1);
}

.c-column-slider-tab__pagination--dot.active {
  opacity: 1;
  background: var(--primary-variant);

  &:before {
    content: '';
    width: 1rem;
    height: 1rem;
    border-radius: 100%;
    background: transparent;
    position: absolute;
    transform: translate(-44%, -45%);
    border: 2px solid var(--primary-variant);
  }
}

@media all and (min-width: 1280px) {
  .c-column-slider-tab__pagination {
    display: none;
  }
}
