.c-column-slider-item {
  @apply relative max-xl:mb-[3rem];
  &__img {
    width: 800px;
    max-height: 423px;
    object-fit: cover;
    @apply max-xl:max-w-full max-xl:w-full max-xl:h-screen;
  }
  &__index {
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 0;
    color: #ffffff;
    padding: 1.5rem;
    background-image: url('/icons/column-slider-index-background.svg');
    width: 277px;
    font-size: 0.875rem;
    background-repeat: no-repeat;

    @apply max-xl:w-full max-xl:bg-primary-dark-green rtl:right-0 rtl:left-auto rtl:scale-y-[1] rtl:scale-x-[-1];
  }
  &--title {
    @apply text-[1.25rem] text-muted-darkest mb-[1rem];
  }
  &--description {
    @apply font-light text-muted-dark;
  }
  &__link {
    transition: 0.3s cubic-bezier(0.25, 0.8, 0.5, 1);
    @apply flex flex-row gap-2;

    &:hover {
      @apply opacity-70;
      transition: 0.3s cubic-bezier(0.25, 0.8, 0.5, 1);
    }
    &--container {
      @apply text-primary-dark-green-variant font-bold text-[1.125rem];
    }
  }
}
